<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f0f0f0"/>
    <meta name="msapplication-navbutton-color" content="#f0f0f0"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#f0f0f0"/>

    <title>@ViewData["Title"] - Sharer</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/v4-shims.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="mt-5 pt-4">

    <div id='loader'>
        <div class="spinner"></div>
    </div>
    

    <header class="custom-nav fixed-top">
        <div class="container">
            <div class="py-3 btn-group w-100">
                <a class="btn text-primary" asp-action="index" asp-controller="sharing" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Main Folder">
                    <span data-feather="home"></span>
                </a>
                <button class="btn text-success" id="uploadButton" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upload a file">
                    <span data-feather="upload"></span>
                </button>
                <button class="btn text-danger" data-toggle="modal" data-target="#sharerModal">
                    <span data-feather="folder-plus"></span>
                </button>
                <form class="btn-group w-100">
                    <input class="form-control w-100 bg-transparent" style="border-radius: 0; border: none;" placeholder="Search...">
                    <button class="btn text-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="Search">
                        <span data-feather="search"></span>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="p-2">
                @RenderBody()
            </div>
        </main>
    </div>

    <form class="d-none" method="post" enctype="multipart/form-data" asp-controller="sharing" asp-action="uploads" >
        <input type="file" id="fileInput" name="fileInput" onchange="Upload()"/>
        <input class="hidden" id="sendFile" type="submit" value="submit" />
    </form>

    <div class="modal-uploading d-none" id="uploadingModal">
        <div class="uploading">
            <h1 class="text-muted">Loading file...</h1>
        </div>
    </div>

    <div class="modal fade" id="sharerModal" tabindex="-1" role="dialog" aria-labelledby="sharerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="sharerModalLabel">Adding path</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="savefolder" asp-controller="sharing" method="get">
                    <div class="modal-body">
                        <div>
                            <label class="text-muted d-block">Folder Name</label>
                            <input class="form-control" type="text" name="name" id="" required placeholder="Eg.: Videos">
                        </div>
                        <div class="mt-3">
                            <label class="text-muted d-block">Path</label>
                            <div class="btn-group w-100">
                                <input class="form-control w-100" type="text" name="path" required id="folderPath" placeholder="Paste here the full path..." style="border-bottom-right-radius: 0; border-top-right-radius: 0;">
                                <a onclick="SetClipboardText('#folderPath')" href="#paste" class="btn btn-sm btn-outline-light text-muted border" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Paste from clipboard">
                                    <span data-feather="clipboard"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save path</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="box-shadow footer text-muted">
        <div class="container">
            &copy; 2021 - Sharer 
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/assets/popper.min.js"></script>
    <script src="~/lib/bootstrap/assets/util.js"></script>
    <script src="~/lib/bootstrap/assets/tooltip.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.addEventListener('load', () => { LoadAnimation() })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('#target').tooltip({
                placement : 'top',
                trigger : 'manual'
            }).tooltip('show')
        })

        feather.replace()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
