<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#343a40"/>
    <meta name="msapplication-navbutton-color" content="#343a40"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#343a40"/>

    <title>@ViewData["Title"] - Sharer</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/v4-shims.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id='loader'>
        <div class="spinner"></div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <div>
                <div class="py-3 bg-white btn-group w-100">
                    <a class="btn text-primary" asp-action="index" asp-controller="sharing">
                        <span data-feather="home"></span>
                    </a>
                    <button class="btn text-success" id="uploadButton">
                        <span data-feather="upload"></span>
                    </button>
                    <button class="btn text-danger">
                        <span data-feather="folder-plus"></span>
                    </button>
                    <form class="btn-group w-100">
                        <input class="form-control w-100" style="border-radius: 0; border: none;" placeholder="Search...">
                        <button class="btn text-dark">
                            <span data-feather="search"></span>
                        </button>
                    </form>
                </div>

                <div class="p-2">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <form class="d-none" method="post" enctype="multipart/form-data" asp-controller="sharing" asp-action="uploads" >
        <input type="file" id="fileInput" name="fileInput" onchange="Upload()"/>
        <input class="hidden" id="sendFile" type="submit" value="submit" />
    </form>

    <div class="modal-uploading d-none" id="uploadingModal">
        <div class="uploading">
            <h1 class="text-muted">Loading file...</h1>
        </div>
    </div>

    <footer class="box-shadow footer text-muted">
        <div class="container">
            &copy; 2021 - Sharer 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.addEventListener('load', () => { LoadAnimation() })
        feather.replace()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
