@model Sharer.Models.Directories

@{
    ViewData["Title"] = "Main Folder";
}

@if(Model.SharedFolders.Count > 0)
{
    <div class="my-2">
        <h4>
            Shared folders
        </h4>
        @{
            var totalSharedFilesCounted = Model.SharedFolders.Count;
            <span>@totalSharedFilesCounted folders</span>
        }
    </div>

    <div class="row">
        @foreach (var item in Model.SharedFolders)
        {   
            string path = Model.UrlParser.Base64Encode(item.Path);
            
            <div class="col-md-2 mt-2" onclick="OpenFolder('@path')">
                <div class="folder">
                    <span class="">
                        <span class="feather-bg" data-feather="folder"></span>
                    </span>
                    <h6 class="text-break">@Html.DisplayFor(x => item.Title)</h6>
                </div>
            </div>
        }
    </div>
    <hr>
}

<partial name="_NavigatorLayout" />